 /*页面主体*/
#pagebody{
	width:958px;
	margin:0 auto;
	height:auto;
	border:solid 1px  #F48301;
}


#content {
width: 958px;
	margin-top: 5px;	
	text-align:left;
	overflow:hidden;	
}

.
	  